#
# requirements.txt
#
# on windows click on start button -> right click on Anaconda Powershell Prompt 
# and select run as administrator in the commad prompt execute command 
# >> conda update -n base -c defaults conda
# Your anaconda should update without admin related errors.
#
# Then run
# >> conda update pip
# >> pip install -r requirements.txt
# >> conda install -c conda-forge gdal
# >> conda install -c conda-forge cartopy
# >> conda install -c conda-forge basemap
# >> conda install -c conda-forge basemap-data-hires
#
pandas
scipy
matplotlib
gensim
seaborn
plotly
keras
theano
bokeh
pillow
pymc3
pydotplus
nltk
smopy
wordcloud
geos
cython
pyshp
pulp
six
chart_studio
lightgbm
xgboost
sklearn
watermark
networkx
arviz
moviepy
pandas-datareader
tabulate
tensorflow==1.13.1
tensorboardX
https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl
opencv-python
graphviz