#
# requirements.txt
#
# run using >> pip install -r requirements.txt
#
# Requirements without Version Specifiers
#--upgrade pip
#--upgrade setuptools
#
# Requirements with Version Specifiers
# See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#
pandas
scipy
matplotlib
gensim
seaborn
plotly
keras
theano
bokeh
pillow
pymc3
pydotplus
nltk
smopy
wordcloud
geos
cython
shapely
pyshp
six
cartopy
chart_studio
lightgbm
xgboost
sklearn
watermark
networkx
arviz
#basemap
moviepy
pandas-datareader
tensorflow==1.13.1
#https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl
#torchvision
#opencv-python
graphviz


# Open the Anaconda Prompt, and install the following:
# conda install -c conda-forge gdal
# conda install -c conda-forge cartopy